
@{
    ViewData["Title"] = "Register";
}
@using Company_System.BLL.ViewModels;
@model RegisterViewModel;

<h1>RegisterAsync</h1>

<form method="post" asp-controller="Account" asp-action="Register">
    <label>UserName</label>
    <input asp-for="UserName" class="form-control" />

    <label>Email</label>
    <input asp-for="Email" class="form-control" />

    <label>Password</label>
    <input asp-for="Password" class="form-control" />

    <label>Confirm Password</label>
    <input asp-for="ConfirmPassword" class="form-control" />


    <label>Address</label>
    <input asp-for="Address" class="form-control" />

    <input type="submit" value="Register" class="btn btn-dark" />
</form>
