@using Company_System.ViewModels;


<a href="/Employees/Create" class="btn btn-info"> Create</a>
<table class="table table-bordered table-hover">

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>DepartmentName</th>
        <th>Image</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Details</th>
    </tr>
    @foreach (EmployeeReadVM emp in Model)
    {
        <tr>
            <td>@emp.Name</td>
            <td>@emp.Age</td>
            <td>@emp.DepartmentName</td>
            <td><img style="width:100px; height:100px;" src="~/Images/@emp.ImgUrl" /> </td>
            <td>
                <a href="/Employees/Edit/@emp.Id" class="btn btn-info"> Edit</a>
            </td>
            <td>
                <a href="/Employees/Delete/@emp.Id" class="btn btn-danger"> Delete</a>
            </td>
            <td>
                <a @* href="/Employees/GetByID/@emp.Id" *@ onclick="GetEmp(@emp.Id)" class="btn btn-primary"> Details</a>
            </td>
        </tr>
    }
</table>
<div id="DisplayEmployee">

</div>


            @section Scripts{
                  <script src="~/lib/jquery/dist/jquery.min.js"></script>
                  <script>
                      function GetEmp(Id) { 
                          // console.log(Id);
                          $.ajax({
                              url: "/Employees/GetByID/" + Id,
                              success:function (res)
                              {
                                  // console.log(res);
                                  $("#DisplayEmployee").html(res);
                              }
                          });
                      }
                  </script>
            }